<a href="#/interview1" class="tip" title="面试分享">
	<h2>2016.11.21.【干货分享】前端面试知识点锦集04（Others篇）——附答案</h2>
	<p>摘要:<br />1、http状态码有哪些？分别代表是什么意思？2、说说创建ajax的过程3、一个页面从输入 URL 到页面加载显示完成，这个过程中都发生了什么？...</p>
</a>
<a href="#/interview1" class="tip" title="面试分享">
	<h2>2016.11.20.【干货分享】前端面试知识点锦集03（JavaScript篇）——附答案</h2>
	<p>摘要:<br />1、谈谈你对Ajax的理解？(概念、特点、作用)2、说说你对延迟对象deferred的理解?3、什么是跨域，如何实现跨域访问?...</p>
</a>
<a href="#/interview1" class="tip" title="面试分享">
	<h2>2016.11.15.【干货分享】前端面试知识点锦集02（CSS篇）——附答案</h2>
	<p>摘要:<br />1、解释一下CSS的盒子模型？2、请你说说CSS选择器的类型有哪些，并举几个例子说明其用法？3、请你说说CSS有什么特殊性?（优先级、计算特殊值）...</p>
</a>
<a href="#/interview1" class="tip" title="面试分享">
	<h2>2016.11.03.【干货分享】前端面试知识点锦集01（HTML篇）——附答案</h2>
	<p>摘要: <br />1、浏览器页面有哪三层构成，分别是什么?作用是什么?2、HTML5的优点与缺点3、Doctype作用? 严格模式与混杂模式如何区分？它们有何意义?...</p>
</a>