<h1 class="title">2016年记</h1>
<p class="lh-30">就这样过去了，2016年真是一个值得回味的一年。</p>
<p class="lh-30">&nbsp;&nbsp;上半年，我还是那个不知所措的小伙子。21岁，正值青春年少；几乎感觉到人生的迷茫，知道后来想起自己喜欢的前端事业，既然喜欢那就做吧。</p>
<p class="lh-30">&nbsp;&nbsp;想想姜老师原来所讲的；what，why，how。前端是什么（这个我早已了解）？为什么要成为一个前端工程师——因为这是我喜欢的事业；成为前端工程师的过程是什么？OK，不知道从哪天开始，我开始了这个过程的第一步，反正就是喜欢前端，那就勇敢的去做吧！没有努力何来收获。</p>
<p class="lh-30">&nbsp;&nbsp;下半年，几乎可以说充满收获的下半年。我早就想做的网站——从零到上线全是自己一个人默默完成。自己喜欢的前端知识学到的也很多。或许是从前自己太懒惰了吧，到今天发现其实有很多事情都很简单。而且自己也做到了，正如自己的座右铭一样：I want , I can , I do.  再次看自己的学生生涯，自己永远有一个目标，而且都向着这个目标努力；只要自己付出了，都得到了回报。</p>
<p class="lh-30">&nbsp;&nbsp;网站完成的那天，我想让别人百度输入我的名字，让我的网站排到首页第一位。从网上学了好多SEO的知识，自己慢慢琢磨、慢慢试验，期待自己的小目标成为现实的那天。终于有一天（我记得好像是2016年12月26号），我发现自己的网站排在第一页的倒数第三位。我实现了一小步，我相信总有一天我会做到的。</p>
<p class="lh-30">&nbsp;&nbsp;OK!实现了，我所想的，我所期待的——实现了！相信自己。相信自己的那句话——I want , I can , I do.</p>
<p class="lh-30">&nbsp;&nbsp;每一个目的地终点，都是下一个目的地的起点。每一个目标的结束，都是下一个目标的开始。有目标的时候可以写代码写到凌晨三点，没有目标的时候却在寝室颓废。不过幸运的是，我又有新的目标了！</p>
<p class="lh-30">&nbsp;&nbsp;相信自己，相信NASA铝合金大门背后的那句话——凡是我们梦想的，我们都能实现。</p>
<p class="lh-30">2016,say goodbye；郑州，say goodbye!</p>
<p class="lh-30 r">——icdong，2017年1月10日于郑州</p>
<div class="share r">
	<ul>
		<li><a href="" class="a1" title="柴成东的分享"></a></li>
		<li><a href="" class="a2" title="柴成东的日记" onclick="Share.sinaWeiBo('icdong-前端工程师2016年记；地址','http://www.icdong.com/src/blog.html#/201612','http://www.icdong.com/src/images/www.png');"></a></li>
		<li><a href="" class="a3" title="分享到QQ好友" onclick="window.open('http://connect.qq.com/widget/shareqq/index.html?url=' + encodeURIComponent(document.location.href)+'&title=icdong-前端工程师2016年记'+'&pics=http://www.icdong.com/src/images/www.png')" ></a></li>
		<li><a href="javascript:;"  class="a4" title="分享到朋友圈" onmousemove="show()" onmouseout="hide()" ></a></li>
		<div id="wechat"><img src="blog/images/interview.png" alt="" /></div>
		<li><a href="" class="a5" title="分享到QQ空间" onclick="window.open('http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url='+encodeURIComponent(document.location.href)+'&desc=I want , I can , I do.'+'&title=icdong-前端工程师2016年记');return false;"></a></li>
	</ul>
</div>
